
{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Registrar Nuevo Número de Partes</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="dientes">Dientes:</label>
            <input type="text" class="form-control" id="dientes" name="dientes">
        </div>
        <div class="form-group">
            <label for="aros">Aros:</label>
            <input type="text" class="form-control" id="aros" name="aros">
        </div>
        <div class="form-group">
            <label for="litros">Litros:</label>
            <input type="text" class="form-control" id="litros" name="litros">
        </div>
        <div class="form-group">
            <label for="fecharegistro">Fecha de Registro:</label>
            <input type="date" class="form-control" id="fecharegistro" name="fecharegistro">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>

<style>
    .titulo {
        font-size: 24px; 
        font-family: 'Arial', sans-serif; 
        color: #007bff; 
    }
</style>

{% endblock %}

