{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Lista de Número de Partes Registrados</h1>
    <!-- Contenedor flex para alinear elementos -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style="max-width: 900px;">
            <input type="text" class="form-control" placeholder="Buscar por número de partes" aria-label="Buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
            </div>
        </div>
        
        <a href="{% url 'agregarnum' %}" class="btn btn-primary mr-5">Registrar</a>

    </div>
    
    <table class="table mt-3" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Número de Partes</th>
                <th scope="col">Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <th scope="row">{{ dato.ID }}</th>
                <td>{{ dato.Nombre }}</td>
                <td>{{ dato.codPartes }}</td>
                <td>{{ dato.fecha_Registro }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .titulo {
        font-size: 24px; 
        font-family: 'Arial', sans-serif; 
        color: #007bff; 
    }
</style>

{% endblock %}
