{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1>USUARIOS</h1>
    <div class="table-responsive">
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'agregar' %}" class="btn btn-primary">Registrar nuevo usuario</a>
        </div>
        <head>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      </head>
      
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.nombre }}</td>
                    <td>{{ u.apellido }}</td>
                    <td>{{ u.correo }}</td>
                    <td>{{ u.telefono }}</td>
                    <td>{{ u.fecha_nacimiento }}</td>
                    <td>{{ u.fecha_registro }}</td>
                    <td>
                        <a href="{% url 'actualizar' %}" class="btn btn-sm btn-warning" title="Actualizar">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'eliminar' %}" class="btn btn-sm btn-danger" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
