
{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Registrar Repuesto Litros</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="ID">ID:</label>
            <input type="text" class="form-control" id="ID" name="ID">
        </div>
        <div class="form-group">
            <label for="partesLi">Partes Litros:</label>
            <input type="text" class="form-control" id="partesLi" name="partesLi">
        </div>
        <div class="form-group">
            <label for="codigoMarca">Código de Marca:</label>
            <input type="text" class="form-control" id="codigoMarca" name="dientes">
        </div>
        <div class="form-group">
            <label for="gradoViscosidad">Grado de Viscosidad:</label>
            <input type="text" class="form-control" id="gradoViscosidad" name="gradoViscosidad">
        </div>
        <div class="form-group">
            <label for="tipoMotor">Tipo de Motor:</label>
            <input type="text" class="form-control" id="tipoMotor" name="tipoMotor">
        </div>
        <div class="form-group">
            <label for="calidad">Calidad:</label>
            <input type="text" class="form-control" id="calidad" name="calidad">
        </div>
        <div class="form-group">
            <label for="Litros">Litros:</label>
            <input type="text" class="form-control" id="Litros" name="Litros">
        </div>
        <div class="form-group">    
            <label for="fechaRegistro">Fecha de Registro:</label>
            <input type="date" class="form-control" id="fechaRegistro" name="fechaRegistro">
        </div>
        <div class="form-group">    
            <label for="Estado">Estado:</label>
            <input type="text" class="form-control" id="Estado" name="Estado">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>

<style>
    .titulo {
        font-size: 24px; 
        font-family: 'Arial', sans-serif; 
        color: #007bff; 
    }
</style>

{% endblock %}

