{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Lista de Repuestos Registrados</h1>
    <!-- Contenedor flex para alinear elementos -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style="max-width: 900px;">
            <input type="text" class="form-control" placeholder="Buscar por número de marca" aria-label="Buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
            </div>
        </div>
        <!-- Botón Registrar -->
        <button type="button" class="btn btn-primary mr-5">Registrar</button>
    </div>
    
    <table class="table mt-3" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Descripción General</th>
                <th scope="col">Acciones</th> <!-- Nueva columna para los botones -->
            </tr>
        </thead>
        <tbody>
            {% for r in repuestos %}
            <tr>
                <th scope="row">{{ r.id }}</th>
                <td>{{ r.nombre }}</td>
                <td>{{ r.marca }}</td>
                <td>{{ r.descripcion_general }}</td>
                <td>
                    <a href="{% url 'detalles_repuesto' r.id %}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i><span class="sr-only">Visualizar Detalles</span></a>
                    <a href="{% url 'actualizar_repuesto' r.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i><span class="sr-only">Actualizar</span></a>
                </td>
            </tr>
            {% endfor %}
            <!-- Datos de ejemplo -->
            <tr>
                <th scope="row">1</th>
                <td>Aceite</td>
                <td>Motul</td> 
                <td>Aceite Motul 5100 4T Semi-Sintético 1.00 L</td> 
                <td>
                    <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i><span class="sr-only">Visualizar Detalles</span></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i><span class="sr-only">Actualizar</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .titulo {
        font-size: 24px; 
        font-family: 'Arial', sans-serif; 
        color: #007bff; 
    }
   
</style>




{% endblock %}

