{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Detalles del repuesto </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <div>
                    <label for="id">ID:</label>
                    <input type="text" id="id" readonly>
                </div>
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" readonly>
                </div>
                <div>
                    <label for="Marca">Marca</label>
                    <input type="text" id="Marca" readonly>
                </div>
                <div>
                    <label for="paisprocedencia">País de procedencia:</label>
                    <input type="text" id="paisprocedencia" readonly>
                </div>
                <div>
                    <label for="unidadentrada">Unidad de entrada:</label>
                    <input type="number" id="unidadentrada" readonly>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <div>
                    <label for="fecharegistro">Fecha de registro:</label>
                    <input type="text" id="fecharegistro" readonly>
                </div>
                <div>
                    <label for="idlitros">ID Litros:</label>
                    <input type="text" id="idlitros" readonly>
                </div>
                <div>
                    <label for="estado">Estado:</label>
                    <input type="text" id="estado" readonly>
                </div>
                <div>
                    <label for="desgeneral">Descripción general:</label>
                    <input type="text" id="desgeneral" readonly>
                </div>   
            </div>
        </div>
    </div>
    {% if repuesto_data %}
    <script>
        var repuesto_data = JSON.parse('{{ repuesto_data | escapejs }}');
        
        document.getElementById('id').value = repuesto_data.id;
        document.getElementById('nombre').value = repuesto_data.nombre;
        document.getElementById('marca').value = repuesto_data.marca;
        document.getElementById('paisprocedencia').value = repuesto_data.paisprocedencia;
        document.getElementById('unidadentrada').value = repuesto_data.unidadentrada;
        document.getElementById('fecharegistro').value = repuesto_data.fecharegistro;
        document.getElementById('idlitros').value = repuesto_data.idlitros;
        document.getElementById('estado').value = repuesto_data.estado
        document.getElementById('desgeneral').value = repuesto_data.desgeneral;
    </script>
 {% else %}  
    <script>


    </script>
{% endif %}
{% endblock %}
