{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Detalles del repuesto</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" id="id" class="form-control" readonly value = {{repuesto_data.id}}>
                        </div>
                        <div class="form-group">
                            <label for="partesli">Partes Litros:</label>
                            <input type="text" id="partesli" class="form-control" readonly value = {{repuesto_data.partesli}}> 
                        </div>
                        <div class="form-group">
                            <label for="codigomarca">Código de marca:</label>
                            <input type="text" id="codigomarca" class="form-control" readonly value = {{repuesto_data.codigomarca}}>
                        </div>
                        <div class="form-group">
                            <label for="gradoviscosidad">Grado de viscosidad:</label>
                            <input type="text" id="gradoviscosidad" class="form-control" readonly value  = {{repuesto_data.gradoviscosidad}}>
                        </div>
                        <div class="form-group">
                            <label for="tipomotor">Tipo de motor:</label>
                            <input type="number" id="tipomotor" class="form-control" readonly value = {{repuesto_data.tipomotor}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="calidad">Calidad:</label>
                            <input type="text" id="calidad" class="form-control" readonly value = {{repuesto_data.calidad}}>
                        </div>
                        <div class="form-group">
                            <label for="litros">Litros:</label>
                            <input type="text" id="litros" class="form-control" readonly value = {{repuesto_data.litros}}>
                        </div>
                        <div class="form-group">
                            <label for="fecharegistro">Fecha de Registro:</label>
                            <input type="text" id="fecharegistro" class="form-control" readonly value = {{repuesto_data.fecharegistro}}>
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <input type="text" id="estado" class="form-control" readonly value = {{repuesto_data.estado}}>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" id="descripcion" class="form-control" readonly value = {{repuesto_data.descripción}}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if repuesto_data %}
    <script>

        

        document.getElementById("id").value = repuesto_data[0].id;
        document.getElementById("partesli").value = repuesto_data[0].partesli;
        document.getElementById("codigomarca").value = repuesto_data[0].codigomarca;
        document.getElementById("gradoviscosidad").value = repuesto_data[0].gradoviscosidad;
        document.getElementById("tipomotor").value = repuesto_data[0].tipomotor;
        document.getElementById("calidad").value = repuesto_data[0].calidad;
        document.getElementById("litros").value = repuesto_data[0].camara;
        document.getElementById("fecharegistro").value = repuesto_data[0].litros;
        document.getElementById("estado").value = repuesto_data[0].estado ? 'Activo' : 'Inactivo';
        document.getElementById("descripción").value = repuesto_data[0].descripción;


    </script>
    {% endif %}

    <button><a href="{% url 'listarreplit' %}" class="btn btn-primary">Volver a la lista de repuestos</a></button>
</div>
        
{% endblock %}
