{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Detalles del repuesto</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" id="id" class="form-control" readonly value = {{repuesto_data.id}}>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" class="form-control" readonly value = {{repuesto_data.nombre}}> 
                        </div>
                        <div class="form-group">
                            <label for="marca">Marca:</label>
                            <input type="text" id="marca"class="form-control" readonly value = {{repuesto_data.marca}}>
                        </div>
                        <div class="form-group">
                            <label for="paisprocedencia">País de procedencia:</label>
                            <input type="text" id="paisprocedencia" class="form-control" readonly value  = {{repuesto_data.paisprocedencia}}>
                        </div>
                        <div class="form-group">
                            <label for="unidadentrada">Unidad de entrada</label>
                            <input type="number" id="unidadentrada" class="form-control" readonly value = {{repuesto_data.unidadentrada}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="idlitros">ID Litros:</label>
                            <input type="text" id="idlitros" class="form-control" readonly value = {{repuesto_data.idlitros}}>
                        </div>
                        <div class="form-group">
                            <label for="idaros">ID Aros:</label>
                            <input type="text" id="idaros" class="form-control" readonly value = {{repuesto_data.idaros}}>
                        </div>
                        <div class="form-group">
                            <label for="fecharegistro">Fecha de Registro:</label>
                            <input type="text" id="fecharegistro" class="form-control" readonly value = {{repuesto_data.fecharegistro}}>
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <input type="text" id="estado" class="form-control" readonly value = {{repuesto_data.estado}}>
                        </div>
                        <div class="form-group">
                            <label for="desgeneral">Descripción:</label>
                            <input type="text" id="desgeneral" class="form-control" readonly value = {{repuesto_data.desgeneral}}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if repuesto_data %}
    <script>

        

        document.getElementById("id").value = repuesto_data[0].id;
        document.getElementById("partesar").value = repuesto_data[0].partesar;
        document.getElementById("medidaa1").value = repuesto_data[0].medidaa1;
        document.getElementById("medidaa2").value = repuesto_data[0].medidaa2;
        document.getElementById("medidaa3").value = repuesto_data[0].medidaa3;
        document.getElementById("codigollanta").value = repuesto_data[0].codigollanta;
        document.getElementById("camara").value = repuesto_data[0].camara;
        document.getElementById("fecharegistro").value = repuesto_data[0].fecharegistro;
        document.getElementById("estado").value = repuesto_data[0].estado ? 'Activo' : 'Inactivo';
        document.getElementById("desgeneral").value = repuesto_data[0].desgeneral;


    </script>
    {% endif %}

    
    <button><a href="{% url 'listarrepgeneral' %}" class="btn btn-primary">Volver a la lista de repuestos</a></button>
</div>
{% endblock %}
