{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Detalles del Repuesto</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title bigger">ID:</h5>
                    <p class="card-text bigger-text">A5100</p>
                    <h5 class="card-title bigger">Número de Partes:</h5>
                    <p class="card-text bigger-text">Aclt</p>
                    <h5 class="card-title bigger">Código de Marca:</h5>
                    <p class="card-text bigger-text">5100</p>
                    <h5 class="card-title bigger">Grado de Viscosidad:</h5>
                    <p class="card-text bigger-text">15w-50</p>
                    <h5 class="card-title bigger">Tipo de Motor:</h5>
                    <p class="card-text bigger-text">4T</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title bigger">Calidad:</h5>
                    <p class="card-text bigger-text">semi-sintetico</p>
                    <h5 class="card-title bigger">Litros:</h5>
                    <p class="card-text bigger-text">1.00</p>
                    <h5 class="card-title bigger">Fecha de registro:</h5>
                    <p class="card-text bigger-text">2024-05-06</p>
                    <h5 class="card-title bigger">Estado:</h5>
                    <p class="card-text bigger-text">habilitado</p>
                    <h5 class="card-title bigger">Descripción:</h5>
                    <p class="card-text bigger-text">5100 4t semi-sintetico 1.00 L</p>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'listarrep' %}" class="btn btn-primary mt-3">Volver a la lista de repuestos</a>
</div>

<style>
    .titulo {
        font-size: 24px; 
        font-family: 'Arial', sans-serif; 
        color: #007bff; 
    }

    .bigger {
        font-size: 20px;
        margin-bottom: 5px; 
    }

    .bigger-text {
        font-size: 16px;
        margin-top: -5px; 
    }
</style>

{% endblock %}
