{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="titulo">Detalles del repuesto</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" id="id" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="partesar">Partes Aro:</label>
                            <input type="text" id="partesar" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="medidaa1">Medida Aro 1:</label>
                            <input type="number" id="medidaa1" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="medidaa2">Medida Aro 2:</label>
                            <input type="number" id="medidaa2" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="medidaa3">Medida Aro 3:</label>
                            <input type="number" id="medidaa3" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="codigollanta">Codigo de llanta:</label>
                            <input type="text" id="codigollanta" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="camara">Camara:</label>
                            <input type="text" id="camara" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fecharegistro">Fecha de Registro:</label>
                            <input type="text" id="fecharegistro" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <input type="text" id="estado" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" id="descripcion" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if repuesto_data %}
    <script>

        

        document.getElementById("id").value = repuesto_data[0].id;
        document.getElementById("partesar").value = repuesto_data[0].partesar;
        document.getElementById("medidaa1").value = repuesto_data[0].medidaa1;
        document.getElementById("medidaa2").value = repuesto_data[0].medidaa2;
        document.getElementById("medidaa3").value = repuesto_data[0].medidaa3;
        document.getElementById("codigollanta").value = repuesto_data[0].codigollanta;
        document.getElementById("camara").value = repuesto_data[0].camara;
        document.getElementById("fecharegistro").value = repuesto_data[0].fecharegistro;
        document.getElementById("estado").value = repuesto_data[0].estado ? 'Activo' : 'Inactivo';
        document.getElementById("descripción").value = repuesto_data[0].descripción;


    </script>
    {% endif %}
</div>
{% endblock %}
